<div id="<%= dom_id placement %>">
  <p>
    <strong>Floor:</strong>
    <%= placement.floor %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= placement.area %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= placement.row %>
  </p>

</div>
